  

body {
  font-family: 'Work Sans', sans-serif;
    
  background-color: #faeeff;
  width: 100%;
 min-height: 100vh;
  margin: 0;
  
  background-image: url(desktop.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;  
 
 
}

 


.container {
  background-color: #ffffff;
  border-radius: 15px;
 display: block;
   
  margin: 8rem auto;
 
  
}

.header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  background-image: url(icon-plus.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
}

.star {
  width: 22px;
  height: 22px;
}

.question-text {
  color: #503954;
  font-weight: bold;
}

.answer-text {
  color: #a89ea8;
  
}

 

 

#last-box {
  border-bottom: none;
}

 
body {
  cursor: url("images.jpeg"), auto;
}

 
 

.header-text {
  color: #331738;
}
 
 
@media screen and (max-width: 300px) {
   .container{
    width: 240px;
     margin: 6rem auto;
   }

  .header {
    margin-left: 0.7rem;
    margin-bottom: -1.4rem;
  }

  .header-text {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 0.6rem;
    color: #331738;
  }

  .question-box {
    margin: 0.7rem 1rem;
    border-bottom: 0.2px solid rgb(214, 214, 214);
  }

  .question-text {
    font-size: 0.74rem;
    max-width: 22ch;
  }

  .answer-text {
    font-size: 0.64rem;
    margin-top: 0.8rem;
  }

  .star {
    width: 14px;
    height: 14px;
  }

  button {
    width: 20px;
    height: 20px;
  }
}

 
@media screen and (min-width: 300px) and (max-width: 400px) {
 .container{
  width: 250px;
  margin: 8rem auto;
  padding: 0 1rem;
 }

  .header {
    
    margin-bottom: -1.3rem;
    margin-top: -0.4rem;
  }

  .header-text {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    color: #331738;
     
  }

  .question-box {
    margin: 0.4rem 0;
    border-bottom: 0.2px solid rgb(214, 214, 214);
  }

  .question-text {
    font-size: 0.74rem;
    max-width: 22ch;
  }

  .answer-text {
    font-size: 0.7rem;
    margin-top: 1rem;
    
  }

  .star {
    width: 17px;
    height: 17px;
  }

  button {
    width: 27px;
    height: 27px;
  }
}

 
@media screen and (min-width: 400px) and (max-width: 550px) {
  .container{
    width: 340px;
  }

  .header {
    margin-left: 1.7rem;
    margin-bottom: -1rem;
    margin-top: -0.8rem;
  }

  .header-text {
    font-size: 1.6rem;
    margin-left: 1.2rem;
  }

  .question-box {
    margin: 0 1.7rem;
    border-bottom: 0.2px solid rgb(214, 214, 214);
  }

  .question-text {
    font-size: 0.86rem;
    max-width: 21ch;
  }

  .answer-text {
    font-size: 0.76rem;
    margin-top: 1rem;
  }

  .star {
    width: 20px;
    height: 20px;
  }
}

 
@media screen and (min-width: 550px) and (max-width: 768px) {
   .container{
    width: 450px;
    margin-top: 6rem;
   }

  .header {
    margin-left: 2rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
  }

  .header-text {
    font-size: 1.7rem;
    margin-left: 1.2rem;
  }

  .question-box {
    margin: 0.6rem 2rem;
    border-bottom: 0.2px solid rgb(214, 214, 214);
  }

  .question-text {
    font-size: 0.76rem;
     
  }

  .answer-text {
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  .star {
    width: 22px;
    height: 22px;
  }
}

 
@media screen and (min-width: 769px) and (max-width: 900px) {
   .container{
    width: 500px;
    padding-bottom: 1rem;
   }
   
  .header {
    margin-left: 2.3rem;
    margin-bottom: -1.3rem;
    margin-top: -1.2rem;
  }

  .header-text {
    font-size: 2.4rem;
    margin-left: 1.8rem;
  }

  .question-box {
    margin: 0.8rem 2.5rem;
    border-bottom: 0.2px solid rgb(214, 214, 214);
  }

  .question-text {
    font-size: 0.86rem;
 
  }

  .answer-text {
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  .star {
    width: 28px;
    height: 28px;
  }
}

 
@media screen and (min-width: 900px) {
  .container{
    padding: 0 2rem 1rem;
    width: 500px;
  }

  .header {
    margin-left: 2.3rem;
    margin-bottom: -1.3rem;
        margin-top: -1.5rem;

  }

  .header-text {
    font-size: 2.8rem;
    margin-left: 1.8rem;
    
  }

  .question-box {
    margin: 0.5rem;
    border-bottom: 0.2px solid rgb(214, 214, 214);
  }

  .question-text {
    font-size: 0.95rem;
     
  }

  .answer-text {
    font-size: 0.9rem;
    max-width: 50ch;
  }

  .star {
    width: 30px;
    height: 30px;
  }

  button {
    width: 35px;
    height: 35px;
  }
}





@media screen and  (max-width:550px){
  body {
    background-image: url(mobile.svg);
   
   background-position: top;
  background-repeat: no-repeat;
   
  background-attachment: fixed;  
    font-family: 'Work Sans', sans-serif;
    
  background-color: #faeeff;
  width: 100%;
 min-height: 100vh;
  margin: 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1050px){
  .question-text{
   font-size: 0.93rem;
  }
}


@media screen and  (max-width:550px){
  .answer-text{
    margin-top: -0.2rem;
    max-width: 32ch;
  }
}
